*
{
  margin: 0;
  padding:0;
  text-decoration: none;
}

body
{
  font-family: "Poppins"
}

.main
{
    width: 100%;
    background: url(/static/img/kali_terminal.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
  
  position: absolute;
  padding: 50px;
  display:flex;
  justify-content: space-between;
  width:100%;
  box-sizing:border-box;
}
.navbar a
{
  color: white
}

.navbar .logo
{
  font-size:2em;
  font-weight: bold;

}

.navbar .navline ul
{
  display:flex;
}

.navbar .navline
{
  display:flex;
  align-items:center;
}

.navbar .navline ul li
{
  margin:25px;

}

.navbar .navline ul li.active a
{
  color: red;
  font-weight: 600;

}

@media screen and (max-width:900px)
{
  .navline{
    display: none;
    
  }
}