<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Deco alice</title>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="box-form">
		<div class="left">
			<div class="overlay">
				<h1>welcome</h1>
				<p>Lorem ipsum <br> dolor sit amet,<br> consectetur <br>adipiscing elit.<br>
					Curabitur <br>et est sed <br>felis <br>aliquet<br> sollicitudin
				</p>
				<span>
					<p>login with social media</p>
					<a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<a href="https://www.telegram.com"><i class="fa fa-telegram" aria-hidden="true"></i> </a>
					<a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
					<a href="#snapchat"><i class="fa fa-snapchat" aria-hidden="true"></i> </a>
					<a href="#google"><i class="fa fa-google" aria-hidden="true"></i> </a>
				</span>
			</div>
		</div>
		<div class="right">
			<h5>deco</h5>
			<h1>this is your <br>start story<br>
				<a href="home"> start </a>
			</h1>
		</div>
		<!-- partial -->

</body>

</html>